.example-card {
    max-width: 350px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-header{
    justify-content: end;
    margin-bottom: 1%;
    padding-top: 1%;
}

img{
    width: 98%;
    padding-left: 2%;
}