<footer class="container-fluid border-top border-danger border-3 pt-3">
    <div class="row">
        <!-- Enlaces -->
        <div class="col text-center">
            <a href="#" class="link">Política de privacidad</a>
            <br>
            <a href="#" class="link">Términos y condiciones</a>
        </div>
        <!-- Logo -->
        <div class="col text-center">
            <img src="./assets/images/logo.svg" alt="Logo Imperial" class="w-25">
        </div>
        <!-- RRSS -->
        <div class="col text-center">
            <h4>Contacto</h4>
            <mat-icon aria-hidden="false" aria-label="Icono redes sociales" class="text-danger">rss_feed</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Icono compartir" class="text-danger">share</mat-icon>
        </div>
    </div>
</footer>