/*--------------------------------------------------
Project: Imperial Events
Version: 1.0
Last change: 24/02/2023
Assignes to: Manuel Fernández Serrano

[TABLA DE CONTENIDOS]

1. Imagen
2. Nav


[CÓDIGOS DE COLOR]

Color principal: rgb(255, 255, 255)

[FUENTES Y TIPOGRAFÍAS]
General: 'Montserrat', sans-serif
--------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&display=swap');

/* 1. Imagen */
div a {
    // width: 10%;
    max-width: 15%;
}

img {
    width: 100%;
}

ul a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.2em;
}