<mat-card class="card-h my-2">
    <mat-card-content class="p-0">
        <div class="row">
            <div class="col-md-4 ">
                <img mat-card-image [src]="evento.urlImagen" alt="Foto del evento">
            </div>
            <div class="col-md-8">
                <div>
                    <h2 class="text-center card-header px-2 pt-2">{{evento.nombre}}</h2>
                    <div class="iconos text-center my-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg>
                        <span>{{evento.kilometros}} km</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-calendar" viewBox="0 0 16 16">
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        </svg>
                        <span>{{evento.fecha | date: 'shortDate'}}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-tag-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                        <span>{{evento.categoria}}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                        </svg>
                        <span>{{evento.localidad}}</span>
                    </div>
                    <hr class="mt-0">
                    <p class="px-2">{{evento.descripcion}}</p>
                    <div class="botones d-lg-flex flex-wrap">
                        <div class="pb-2">
                            <app-button color="primary" texto="Clasificación" class=""></app-button>
                        </div>
                        <div>
                            <app-button color="accent" texto="Más info"></app-button>
                        </div>
                        <!-- <button mat-fab extended color="primary">Clasificación</button>
                        <button mat-fab extended color="accent">Más info</button> -->
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>