@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

h1,
h2 {
    font-family: 'Racing Sans One', cursive;
}

h1 {
    // color: white;
    text-align: center;
    padding-top: 3%;
    font-size: 4em;
    line-height: 1em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-bottom: 0;
}

img {
    width: 30%;
}

.container-principal {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}

.formulario {
    width: 75%;
    text-align: center;
    background-color: #F1F1F1;
    padding: 5%;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    // margin-right: 0;
    // margin-left: 150px;
}

form {
    font-family: 'Montserrat', sans-serif;
}

.register-form {
    min-width: 150px;
    // max-width: 500px;
    width: 75%;
    margin: 0 auto;
}

.register-form-field {
    width: 100%;
}