@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Racing+Sans+One&display=swap');

h1 {
    font-family: 'Racing Sans One', cursive;
}

img{
    width: 50%;;
}

form{
    width: 70%;
}

.global{
    width: 75%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2%;
    // background-color: #D9D9D9;
    margin: auto!important;
}