<div class="container-fluid global row my-5 px-5 mx-5">
    <h1 class="text-center">REESTABLECER CONTRASEÑA</h1>
    <div class="container-fluid d-flex justify-content-center row">
        <div class="col col-6 d-flex justify-content-center">
            <form class="reset_password_form">
                <!--Nueva contraseña-->
                <div class="form-group my-3">
                    <label for="new_pass" class="form-label">Nuenva Contraseña:</label>
                    <input type="password" class="form-control" name="new_pass" id="new_pass">
                </div>
                <!--confirmacion nueva contraseña-->
                <div class="form-group my-3">
                    <label for="new_pass_confir" class="form-label">Confirma Contraseña:</label>
                    <input type="password" class="form-control" name="new_pass_confir" id="new_pass_confir">
                </div>
                <!--correo validacion-->
                <div class="form-group my-3">
                    <label for="email_confirmacion" class="form-label">Email de confirmación</label>
                    <input type="email" class="form-control" name="email_confirmacion" id="email_confirmacion">
                </div>
                <div class="form-group my-3">
                    <button class="btn btn-danger rounded-pill">Confirmar</button>
                </div>
            </form>
        </div>
        <div class="col col-5">
            <img src="../../../assets/images/logoFooter.svg" alt="">
            <div class="informacion">
                <h4>Utiliza una contraseña segura</h4>
                <h4>No la compartas con nadie</h4>
                <h4>Usa contraseñas distintas</h4>
            </div>
        </div>
    </div>
</div>