@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Racing+Sans+One&display=swap');

.carousel,
.new_events,
.event_anteriores {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(235, 235, 235);
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1.5em;
    width: 75%;
    margin: auto;
}

h1,
h2 {
    font-family: 'Racing Sans One', cursive;
    font-size: 2.5em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}