<div class="container">
    <h2 class="text-center">REGISTRO</h2>
    <app-linea-divisor-rojo></app-linea-divisor-rojo>
    <form class="register-form" #personForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- Nombre -->
        <mat-form-field appearance="fill" class="register-form-field">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput name="nombre" id="nombre" required #nombre="ngModel" [(ngModel)]="model.nombre"
                placeholder="Nombre">
        </mat-form-field>

        <!-- Apellidos -->
        <mat-form-field appearance="fill" class="register-form-field">
            <mat-label>Apellidos</mat-label>
            <input type="text" matInput name="apellidos" id="apellidos" required #apellidos="ngModel"
                [(ngModel)]="model.apellidos" placeholder="Apellidos">
        </mat-form-field>

        <!-- DNI -->
        <mat-form-field appearance="fill" class="register-form-field">
            <mat-label>DNI</mat-label>
            <input type="text" matInput [formControl]="dniFormControl" name="dni" id="dni" required
                [(ngModel)]="model.dni" placeholder="12345678X">
            <mat-error *ngIf="dniFormControl.hasError('pattern') && !dniFormControl.hasError('required')">
                Por favor, introduce un DNI válido
            </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="fill" class="register-form-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" name="email" id="email" required
                [(ngModel)]="model.email" placeholder="ejemplo@ejemplo.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Por favor, introduce un email válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                El Email es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <!-- Direccion -->
        <mat-form-field appearance="fill" class="register-form-field">
            <mat-label>Dirección</mat-label>
            <input type="text" matInput name="direccion" id="direccion" required #direccion="ngModel"
                [(ngModel)]="model.direccion" placeholder="Avenida de la Unidad, 5">
        </mat-form-field>

        <!-- Talla -->
        <mat-form-field appearance="fill" class="register-form-field">
            <mat-label>Talla</mat-label>
            <mat-select>
                <mat-option name="talla" id="talla" required *ngFor="let size of sizes"
                    [value]="size">{{size}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Club de Running -->
        <mat-form-field appearance="fill" class="register-form-field">
            <mat-label>Club de Running</mat-label>
            <input type="text" matInput name="running-club" id="running-club" #runningClub="ngModel"
                [(ngModel)]="model.clubRunning">
        </mat-form-field>

        <!-- Método de pago -->
        <mat-form-field appearance="fill" class="register-form-field">
            <mat-label>Método de pago</mat-label>
            <input type="text" matInput name="metodoPago" id="metodoPago" #metodoPago="ngModel"
                [(ngModel)]="model.metodoPago">
        </mat-form-field>

        <mat-checkbox>Acepto la política de privacidad</mat-checkbox>

        <div class="text-center mt-2">
            <app-button color="primary" type="submit" class="my-2 rojo" texto="Enviar"></app-button>
            <app-button color="accent" id="reset" type="button" class="mx-2" texto="Reset"
                (click)="newPerson();personForm.reset()"></app-button>
        </div>
    </form>
</div>