<div class="container">
    <h1>REGISTRO</h1>
    <form #personForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" required #nombre="ngModel"
                [(ngModel)]="model.nombre">
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control" name="apellidos" id="apellidos" required #apellidos="ngModel"
                [(ngModel)]="model.apellidos">
        </div>
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" class="form-control" name="dni" id="dni" required #dni="ngModel" [(ngModel)]="model.dni">
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" name="direccion" id="direccion" required #direccion="ngModel"
                [(ngModel)]="model.direccion">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email" required #email="ngModel"
                [(ngModel)]="model.email">
        </div>
        <div class="form-group">
            <label for="talla">Talla</label>
            <select class="form-control" name="talla" id="talla" required #talla="ngModel" [(ngModel)]="model.talla">
                <option *ngFor="let talla of sizes" [value]="talla">{{talla}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="running-club">Club de Running</label>
            <input type="text" class="form-control" name="running-club" id="running-club" #runningClub="ngModel"
                [(ngModel)]="model.clubRunning">
        </div>
        <div class="form-group">
            <label for="metodoPago">Método de pago</label>
            <input type="text" class="form-control" name="metodoPago" id="metodoPago" #metodoPago="ngModel"
                [(ngModel)]="model.metodoPago">
        </div>
        <button type="submit" class="btn btn-success my-2" [disabled]="!personForm.form.valid">Enviar</button>
        <button type="button" class="btn btn-secondary mx-2" (click)="newPerson();personForm.reset()">Reset</button>
    </form>
</div>